.container {
  /* margin: 0;
  padding: 0;
  background-color: rgb(47 47 47);
  height: 100vh;
  width: 100vw; */

  height: calc(100vh - 4rem); /* Subtract navbar height */
  background-color: rgb(47 47 47);
  display: flex;
  flex-direction: column;
}

.chatbox {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47 47 47);
  border: none;
  width: 60%;
  height: 600px;
  padding: 10px;
}

.chat {
  height: 85%;
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 8px;
  padding: 4px;
  background-color: rgb(47 47 47);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: rgb(47 47 47);
}
.chat-message-user {
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  margin: 5px 15px;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
  border-radius: 12px;
  background-color: #424242;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
  word-break: break-word;
  align-self: flex-end;
}
.chat-message-bot {
  max-width: 98%;
}

.message {
  margin: auto;
  height: 10%;
  border: none;
  border-radius: 8px;
  width: 100%;
  background-color: #424242;
  text-align: center;
  padding: 4px;
}

.message textarea {
  width: 98%;
  height: 100%;
  background-color: #424242;
  color: white;
  font-size: 20px;
  border: none;
  outline: none;
  overflow-y: auto;
  resize: none;
}

.Starter {
  align-self: center;
  color: white;
  margin: auto;
  font-size: xx-large;
}
.chat::-webkit-scrollbar,
.message textarea::-webkit-scrollbar {
  width: 6px;
}

.chat::-webkit-scrollbar-thumb,
.message textarea::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 4px;
}
